*.log
pkg
doc
Manifest
.DS_Store
test/core_test_app/tmp/
test/core_test_app/public/extjs*
test/core_test_app/vendor/gems/netzke-persistence
test/core_test_app/public/javascripts
test/core_test_app/public/stylesheets
*.gem
.vimrc
